body{
    background-image: url(/imagenes/fondo.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    
    }
    
    h1{
        color:black;
        text-align: center;
        padding: 25px;
        font-size: 60px;
        background-attachment: fixed;
        background-position: center center;
    }
    
    nav{
        text-decoration: none;
        text-align: center;
        background-attachment: fixed;
        background-position: center center;
        padding: 25px;
        
        
    }
  
    a:link, a:visited{

        color: white;
        
        
    
    }
    
    a:hover {
        background-color:royalblue;
        
    }
    
    a:active{
        background-color:darkred;
    }

    /* p{
        font-size:1rem;
        color:black;
        padding: 50px;
        margin: auto;
    } */
    h2{
        font-size: 2rem;
    }
    
    footer{
        text-align: center;
        background-color:black;
        padding: 3px;  
        position: fixed;
        width: 100%;
        bottom: 0;
    
    }
    .form > input,label{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div {
       
        display: flex;
        justify-content: center;
        align-items: center;

    }
    img{
        display: flex;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        box-shadow: 5px 5px 5px black;
        border-radius: 100px;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
    }